@mixin hide-scrollbar {
    // 파이어폭스 브라우저
    scrollbar-width: none;
  
    // 인터넷 익스플로러와 엣지
    -ms-overflow-style: none;
  
    // 웹킷 기반 브라우저(크롬, 사파리, 새 엣지 등)
    &::-webkit-scrollbar {
      display: none;
    }
  }